@import url(assets/reset.css);
@import url(assets/variables.css);
/* Regular */
@font-face {
    font-family: 'karla';
    src: url('fonts/karla-variablefont_wght-webfont.woff2') format('woff2'),
        url('fonts/karla-variablefont_wght-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/* Bold */
@font-face {
    font-family: 'karla';
    src: url('fonts/karla-Bold.woff2') format('woff2'),
        url('fonts/karla-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

  /* CSS STYLES */

body{
    font-family: var(--ff-body);
    background-color: var(--clr-accent-200);
    width: var(--size-mobile);
    padding: 4.5rem 2rem 3.875rem;
}

.main {
    /* min-height: 100vh; */
    box-shadow: 0px 0.938rem 1.875rem 0px rgba(0, 81, 171, 0.15);
}

.join {
    padding: 1.5rem;
    border-top-left-radius: 0.313rem;
    border-top-right-radius: 0.313rem;
}

.heading {
    letter-spacing: -0.025;
}

.guarante {
    line-height: 1.25;
}
 
.access {
    line-height: 1.857;
    letter-spacing: -0.0125em;
}

.subscription {
    padding: 1.5rem;
}

.sub-heading {
    letter-spacing: -0.014em;
}

.price {
    letter-spacing: -0.025em;
}

span {
    opacity: 0.5;
    line-height: 1.857; 
    letter-spacing: -0.0125em;

}

.full-access {
    line-height: 1.857; 
    letter-spacing: -0.0125em;

}
.btn {
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 0.313rem;
    box-shadow: 0px 0.625rem 0.625rem 0px rgba(0, 0, 0, 0.10);
    letter-spacing: -0.0125em;
}
.btn:hover {
    cursor: pointer;
}
.why-us {
    padding: 1.5rem;
    background-color: var(--clr-accent-400);
    opacity: 0.89;
    border-bottom-left-radius: 0.313rem;
    border-bottom-right-radius: 0.313rem;
}
.why-us p {
    opacity: 0.75;
}

our-info {
    line-height: 1.4286; 
    letter-spacing: -0.011em;
}

@media(min-width:23.438rem) {
    body {
        width: 100%; /* Allow body to take full width */
        height: 100vh;
        max-width: var(--size-laptop);
        /* padding: 163px 402px 162px 403px; */
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .main {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* grid-auto-rows: 16.188rem; */
        max-width: 39.688rem;
        border-top-right-radius:  0.313rem;
        border-top-left-radius:  0.313rem;
    }
    
    .join {
        grid-column: 1/3;
        grid-row: 1/2;
        /* padding: 1.5rem 2rem;  */
        margin-bottom: 1.5rem;
    }

    .subscription {
        grid-column: 1/2;
        grid-row: 2/3;
        border-bottom-left-radius:  0.313rem;
    }

    .why-us {
        grid-column: 2/3;
        grid-row: 2/3;
        border-bottom-left-radius: 0;
    }
}


